@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"].date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.75rem;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}